.map{
    border-radius: 1rem;
    height: 500px;
    width: 100%;
    @include respond-to('lg'){
        height: 100%;
    }

    iframe{
        border-radius: 1rem  1rem 0rem 0rem  ;
        height: 100%;
        width: 100%;

        @include respond-to('lg'){
            border-radius: 1rem  0rem 0rem 1rem  ;
        }
    }
}