.contact{

    padding:  8rem 2rem;
    background-color: #541B7F;
    background-image: url('../img/gradado-contacto.svg');
    background-position: -18rem 1%;
  color: #575656;
  background-repeat: no-repeat;
  @include respond-to('lg'){
    background-position: -18rem -16rem;
  }
    &__card{
        border-radius: 1rem;
        background-color: #fff;
        &-body{
            padding: 0rem 2rem 0rem 2rem;
            h3{
                font-size: 2.5rem;
                color: $primary-blue;
                margin: .8rem 0;
            }
            &__item{
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.5rem;
                img{
                    height: 30px;
                }
            }
        }

        &-form{
            padding-top: 4rem;
            padding-right: 2rem ;
            padding-left: 2rem;
            &__input{
                margin-bottom: .8rem;
            }
            h5{
                font-size: 1.5rem;
                color: $secondary-purple;
                margin: 0;
                margin-bottom: 1rem;
            }

            input[type="text"], input[type="email"] { 
                width: 100%;
                display: block;
                border-bottom: #575656  1px solid;
                border-top: none;
                border-left: none;
                border-right: none;
                height: 30px ;
            }
            textarea{
                width: 100%;
                display: block;
                height: 140px;
                border-bottom: #575656  1px solid;
                border-top: none;
                border-left: none;
                border-right: none;
            }

            label{
                font-size: 1rem;
            }

            button{
                margin-top: 1rem;
                width: 100%;
                
                border-radius: 12px;
                border: none;
                background-color: #01A1D7;
                color: #fff;
                font-size: 1.2rem;
                cursor: pointer;
                padding: 1rem 0rem;
                font-weight: bold;
                &:hover{
                    background-color: $secondary-purple;
                    color: #fff;
                    transition: all .3s ease-in-out;
                }
            }
        }

        &-social{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            gap: 1rem;
            padding-bottom: 2rem;
        }
        
    }
}